In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
from util import ANNOTATED_FILE_JAVA
#reads projects from Excel file
df = pd.read_excel(ANNOTATED_FILE_JAVA, keep_default_na=False)
len(df)

632

In [16]:
df = df[df.isSoftware == 'Y']
len(df)

599

In [17]:
df=df[df.discardReason == '']
len(df)

317

In [18]:
df.primaryLanguage.value_counts()

Java    317
Name: primaryLanguage, dtype: int64

In [18]:
df[df.primaryLanguage == 'Python'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df[df.primaryLanguage == 'Go'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df[df.primaryLanguage == 'JavaScript'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df[df.primaryLanguage == 'C++'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df[df.primaryLanguage == 'C'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df[df.primaryLanguage == 'Ruby'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df = df[df.primaryLanguage == 'Java'].describe()

In [10]:
df.to_excel('corpus_describe.xlsx', index=False)

In [25]:
df[df.primaryLanguage == 'PHP'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df[df.primaryLanguage == 'TypeScript'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df[df.primaryLanguage == 'C#'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,3.290000e+02,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000
mean,2.113682e+05,7.319149,135.367781,243.598784,3187.215805,1057.723404,1157.659574,8371.534954,1164.024316,41.018237,144.139818,35.045593
std,8.838887e+05,5.215330,164.867856,286.540813,3918.105893,1539.024428,1424.670925,24885.551538,1702.487459,143.867549,339.042867,59.906083
min,1.997000e+03,1.000000,10.000000,20.000000,1000.000000,81.000000,0.000000,1007.000000,10.000000,1.000000,0.000000,0.000000
25%,1.568200e+04,4.000000,46.000000,99.000000,1284.000000,344.000000,299.000000,1804.000000,221.000000,5.000000,33.000000,0.000000
50%,4.576200e+04,6.000000,87.000000,159.000000,1838.000000,602.000000,711.000000,3208.000000,527.000000,11.000000,67.000000,17.000000
75%,1.358850e+05,10.000000,151.000000,267.000000,3339.000000,1105.000000,1432.000000,6980.000000,1303.000000,26.000000,141.000000,46.000000
max,1.333339e+07,42.000000,1000.000000,3247.000000,33981.000000,18871.000000,8160.000000,330851.000000,12409.000000,1733.000000,3851.000000,634.000000

In [29]:
df.domain.value_counts()

software development         75
media                        44
infrastructure management    40
network                      18
security                     18
game                         18
monitoring                   18
communication                16
program analysis             15
hpc                          15
machine learning             12
automation                    9
file management               7
application container         7
collaboration                 3
operating system              3
cryptocurrency                2
scm                           2
erp                           2
gestão pessoal                2
cms                           1
e-commerce                    1
                              1
Name: domain, dtype: int64

In [30]:
len(df.domain.value_counts())

23

In [31]:
df[df.domain == 'software development'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,7.500000e+01,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000
mean,2.220882e+05,7.280000,150.826667,227.640000,3593.893333,941.840000,1188.906667,8959.573333,742.973333,44.106667,154.080000,32.600000
std,9.514447e+05,6.727435,200.783154,189.682355,3288.657072,1026.101887,1362.006729,30719.516048,1056.949652,202.835346,391.053973,55.133254
min,3.119000e+03,1.000000,10.000000,25.000000,1000.000000,81.000000,0.000000,1026.000000,28.000000,1.000000,0.000000,0.000000
25%,1.258750e+04,3.000000,49.000000,106.500000,1365.500000,383.000000,419.000000,1803.000000,201.500000,4.000000,38.500000,0.000000
50%,2.311700e+04,5.000000,78.000000,153.000000,2082.000000,609.000000,764.000000,2871.000000,360.000000,9.000000,67.000000,12.000000
75%,7.322550e+04,9.000000,157.000000,312.500000,4785.500000,1147.000000,1543.000000,4695.000000,810.000000,19.000000,128.000000,39.000000
max,7.480913e+06,42.000000,1000.000000,983.000000,19697.000000,6970.000000,8160.000000,254859.000000,6158.000000,1733.000000,2961.000000,291.000000

In [32]:
df[df.domain == 'media'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,4.400000e+01,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,1.589096e+05,5.886364,102.272727,134.159091,2009.340909,644.068182,1406.681818,7661.295455,691.409091,24.022727,125.772727,49.568182
std,2.142538e+05,3.610166,134.466796,125.740216,1945.202159,702.287207,1490.157753,13531.307881,740.367455,38.864397,171.307403,96.653155
min,3.629000e+03,1.000000,11.000000,20.000000,1027.000000,86.000000,0.000000,1031.000000,38.000000,1.000000,0.000000,0.000000
25%,2.332150e+04,3.000000,38.000000,76.000000,1215.250000,293.250000,546.250000,1569.750000,241.750000,3.750000,29.000000,8.500000
50%,1.000955e+05,5.000000,65.500000,111.500000,1462.000000,509.000000,1002.500000,3139.000000,484.000000,8.500000,72.000000,26.000000
75%,1.659805e+05,8.000000,114.500000,156.750000,2176.750000,725.250000,1536.500000,6940.000000,820.500000,25.000000,132.500000,64.500000
max,1.090442e+06,17.000000,733.000000,829.000000,13814.000000,4145.000000,7324.000000,69327.000000,3877.000000,176.000000,739.000000,634.000000

In [33]:
df[df.domain == 'cms'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,267946.0,9.0,114.0,215.0,2139.0,1063.0,5042.0,40340.0,5381.0,163.0,486.0,137.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,267946.0,9.0,114.0,215.0,2139.0,1063.0,5042.0,40340.0,5381.0,163.0,486.0,137.0
25%,267946.0,9.0,114.0,215.0,2139.0,1063.0,5042.0,40340.0,5381.0,163.0,486.0,137.0
50%,267946.0,9.0,114.0,215.0,2139.0,1063.0,5042.0,40340.0,5381.0,163.0,486.0,137.0
75%,267946.0,9.0,114.0,215.0,2139.0,1063.0,5042.0,40340.0,5381.0,163.0,486.0,137.0
max,267946.0,9.0,114.0,215.0,2139.0,1063.0,5042.0,40340.0,5381.0,163.0,486.0,137.0

In [34]:
df[df.domain == 'infrastructure management'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,4.000000e+01,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.00000,40.000000
mean,4.171511e+05,8.050000,153.550000,388.725000,4319.825000,1837.050000,938.025000,13028.750000,1744.175000,44.925000,134.37500,29.025000
std,2.099841e+06,4.551416,143.441393,541.195542,5269.585114,3182.840418,1120.647397,51856.437824,2590.575947,120.392603,338.65516,44.964081
min,4.285000e+03,1.000000,25.000000,47.000000,1018.000000,172.000000,0.000000,1123.000000,11.000000,1.000000,6.00000,0.000000
25%,1.816400e+04,4.750000,52.000000,156.000000,1530.250000,389.750000,42.750000,1929.250000,346.500000,7.000000,20.75000,0.000000
50%,4.233300e+04,8.000000,95.500000,202.000000,2143.000000,742.000000,576.000000,2531.500000,770.500000,11.000000,76.00000,17.000000
75%,9.274025e+04,10.000000,215.750000,409.500000,5029.750000,1987.000000,1249.750000,5000.500000,2190.000000,29.000000,130.00000,29.000000
max,1.333339e+07,20.000000,592.000000,3247.000000,28699.000000,18871.000000,4409.000000,330851.000000,12409.000000,745.000000,2178.00000,235.000000

In [35]:
df[df.domain == 'monitoring'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,94585.333333,6.666667,82.333333,277.500000,3175.166667,957.111111,1158.555556,4934.055556,1111.777778,16.444444,69.888889,36.500000
std,115723.988628,4.537426,49.398738,235.537246,3347.829169,821.406676,1621.535918,5926.691841,1192.813459,15.673966,45.038400,33.212772
min,1997.000000,1.000000,16.000000,64.000000,1075.000000,248.000000,0.000000,1064.000000,47.000000,3.000000,12.000000,0.000000
25%,15102.500000,4.250000,29.000000,120.000000,1223.250000,462.250000,294.000000,1941.500000,332.750000,8.000000,44.750000,5.250000
50%,42523.500000,6.000000,99.500000,180.000000,1850.000000,544.000000,680.500000,2604.500000,676.000000,9.500000,49.500000,32.500000
75%,127754.750000,7.000000,113.750000,306.250000,2930.750000,1138.000000,1021.250000,4628.250000,1573.750000,16.750000,86.000000,51.750000
max,389133.000000,20.000000,168.000000,793.000000,11541.000000,2866.000000,6486.000000,24580.000000,3756.000000,60.000000,184.000000,115.000000

In [36]:
df[df.domain == 'communication'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,16.000000,16.000000,16.0000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000
mean,214528.437500,8.000000,140.5625,227.187500,2884.812500,1302.312500,2155.062500,8257.125000,1577.437500,33.062500,429.250000,36.562500
std,258199.138114,5.910443,113.2054,156.507388,2612.844229,990.457249,2117.090817,6206.383691,1565.625028,43.514701,938.520147,33.929277
min,13119.000000,2.000000,20.0000,57.000000,1064.000000,287.000000,0.000000,1948.000000,73.000000,4.000000,33.000000,0.000000
25%,52270.500000,3.750000,70.5000,113.500000,1471.000000,741.750000,505.250000,4050.500000,342.750000,7.000000,65.250000,4.500000
50%,98281.500000,5.500000,104.5000,209.000000,2157.500000,1007.500000,1557.000000,6853.500000,868.000000,15.500000,108.000000,29.000000
75%,220054.000000,12.250000,195.7500,279.250000,3427.000000,1492.750000,2796.250000,10211.750000,2483.500000,42.500000,265.750000,60.500000
max,891939.000000,19.000000,481.0000,714.000000,11772.000000,3777.000000,6881.000000,25500.000000,4619.000000,166.000000,3851.000000,99.000000

In [37]:
df[df.domain == 'game'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,118303.388889,3.944444,130.555556,151.555556,1832.944444,719.000000,1885.277778,5649.111111,1107.166667,19.000000,69.555556,27.944444
std,231622.240015,2.577555,110.598491,93.013739,771.957060,704.284368,1587.438551,7408.361190,1235.440872,15.970561,60.526341,39.457307
min,8237.000000,1.000000,18.000000,55.000000,1021.000000,175.000000,0.000000,1495.000000,76.000000,1.000000,0.000000,0.000000
25%,14441.250000,2.250000,52.750000,92.250000,1191.500000,312.250000,573.250000,2024.500000,299.750000,5.750000,26.500000,0.000000
50%,18426.500000,3.000000,89.500000,106.500000,1561.500000,512.000000,1472.500000,3283.000000,651.500000,17.500000,44.500000,15.000000
75%,63453.250000,5.000000,161.750000,212.750000,2330.500000,830.750000,2885.000000,6971.500000,1188.250000,32.000000,103.250000,38.250000
max,820870.000000,11.000000,391.000000,416.000000,3334.000000,3117.000000,5171.000000,33531.000000,4513.000000,55.000000,190.000000,153.000000

In [38]:
df[df.domain == 'operating system'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,3.000000e+00,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
mean,4.911643e+05,5.333333,112.333333,436.000000,4783.333333,2544.666667,2955.333333,3349.666667,647.000000,3.333333,66.333333,27.666667
std,7.622295e+05,3.785939,103.876529,477.405488,4266.043405,3482.988563,4192.066595,3276.175565,636.983516,1.154701,13.316656,27.006172
min,9.292000e+03,1.000000,27.000000,70.000000,1082.000000,312.000000,454.000000,1090.000000,93.000000,2.000000,55.000000,1.000000
25%,5.177500e+04,4.000000,54.500000,166.000000,2450.500000,538.000000,535.500000,1471.000000,299.000000,3.000000,59.000000,14.000000
50%,9.425800e+04,7.000000,82.000000,262.000000,3819.000000,764.000000,617.000000,1852.000000,505.000000,4.000000,63.000000,27.000000
75%,7.321005e+05,7.500000,155.000000,619.000000,6634.000000,3661.000000,4206.000000,4479.500000,924.000000,4.000000,72.000000,41.000000
max,1.369943e+06,8.000000,228.000000,976.000000,9449.000000,6558.000000,7795.000000,7107.000000,1343.000000,4.000000,81.000000,55.000000

In [39]:
df[df.domain == 'application container'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,26782.142857,4.285714,204.000000,116.571429,2564.857143,494.714286,411.142857,2150.571429,654.142857,12.571429,181.142857,76.571429
std,50359.279871,1.496026,259.409586,83.727449,2270.264921,205.172866,355.137733,887.034922,377.181401,10.030905,155.353820,139.787764
min,3181.000000,3.000000,10.000000,71.000000,1180.000000,229.000000,0.000000,1077.000000,22.000000,3.000000,59.000000,1.000000
25%,4952.500000,3.000000,71.000000,75.000000,1239.500000,345.500000,88.500000,1861.500000,511.500000,5.000000,68.000000,7.000000
50%,7637.000000,4.000000,161.000000,87.000000,1421.000000,489.000000,450.000000,1905.000000,611.000000,12.000000,105.000000,23.000000
75%,13110.000000,5.000000,170.000000,102.000000,2757.000000,675.000000,705.500000,2199.500000,901.500000,16.000000,270.000000,54.500000
max,140532.000000,7.000000,775.000000,304.000000,7360.000000,704.000000,840.000000,3950.000000,1120.000000,31.000000,428.000000,389.000000

In [40]:
df[df.domain == 'scm'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,391632.000000,13.000000,729.500000,728.500000,13175.000000,3858.500000,3343.500000,25790.000000,3326.000000,36.500000,369.500000,36.500000
std,395061.972862,1.414214,335.875721,252.437121,715.592063,2482.651909,4728.423046,3983.839605,1148.341413,19.091883,422.142748,48.790368
min,112281.000000,12.000000,492.000000,550.000000,12669.000000,2103.000000,0.000000,22973.000000,2514.000000,23.000000,71.000000,2.000000
25%,251956.500000,12.500000,610.750000,639.250000,12922.000000,2980.750000,1671.750000,24381.500000,2920.000000,29.750000,220.250000,19.250000
50%,391632.000000,13.000000,729.500000,728.500000,13175.000000,3858.500000,3343.500000,25790.000000,3326.000000,36.500000,369.500000,36.500000
75%,531307.500000,13.500000,848.250000,817.750000,13428.000000,4736.250000,5015.250000,27198.500000,3732.000000,43.250000,518.750000,53.750000
max,670983.000000,14.000000,967.000000,907.000000,13681.000000,5614.000000,6687.000000,28607.000000,4138.000000,50.000000,668.000000,71.000000

In [41]:
df[df.domain == 'package management'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df[df.domain == 'security'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.800000e+01,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,2.049066e+05,6.333333,87.388889,196.222222,2615.444444,743.500000,641.000000,5501.722222,1161.777778,31.388889,131.277778,57.166667
std,4.632410e+05,3.378130,84.845284,144.309942,2123.866957,732.842753,758.828664,7625.572085,2011.171229,73.976259,141.592541,84.955525
min,4.391000e+03,2.000000,18.000000,77.000000,1015.000000,132.000000,0.000000,1007.000000,47.000000,1.000000,9.000000,0.000000
25%,1.154825e+04,4.000000,38.750000,100.750000,1252.000000,308.000000,305.500000,1413.000000,134.000000,3.750000,40.500000,0.250000
50%,4.481200e+04,5.000000,47.500000,134.500000,1543.000000,453.500000,569.500000,1883.500000,237.000000,9.000000,65.500000,25.500000
75%,6.579175e+04,9.000000,122.250000,253.500000,3005.000000,923.750000,784.000000,7186.250000,719.250000,16.250000,191.250000,68.000000
max,1.545287e+06,14.000000,332.000000,588.000000,7830.000000,2883.000000,3423.000000,31319.000000,6289.000000,311.000000,551.000000,328.000000

In [43]:
df[df.domain == 'file management'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,116192.000000,7.142857,72.571429,109.142857,1507.428571,429.571429,837.142857,8387.285714,701.571429,14.142857,99.857143,47.857143
std,213967.700858,5.304984,72.145356,54.155420,501.631291,359.903625,721.619574,12189.810495,1007.175565,12.482369,95.685994,55.953637
min,10261.000000,1.000000,18.000000,40.000000,1139.000000,125.000000,0.000000,1083.000000,99.000000,2.000000,25.000000,0.000000
25%,16085.500000,3.500000,34.000000,71.000000,1268.000000,184.500000,444.000000,1697.000000,142.000000,4.000000,34.000000,25.000000
50%,18111.000000,4.000000,45.000000,102.000000,1380.000000,191.000000,775.000000,3208.000000,357.000000,10.000000,39.000000,29.000000
75%,79121.000000,12.000000,76.000000,149.000000,1444.000000,680.500000,960.000000,8290.500000,624.500000,23.000000,157.000000,43.000000
max,594559.000000,14.000000,225.000000,182.000000,2609.000000,961.000000,2277.000000,34445.000000,2922.000000,33.000000,253.000000,170.000000

In [44]:
df[df.domain == 'e-commerce'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,672409.0,8.0,29.0,113.0,1954.0,460.0,887.0,7735.0,303.0,16.0,270.0,92.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,672409.0,8.0,29.0,113.0,1954.0,460.0,887.0,7735.0,303.0,16.0,270.0,92.0
25%,672409.0,8.0,29.0,113.0,1954.0,460.0,887.0,7735.0,303.0,16.0,270.0,92.0
50%,672409.0,8.0,29.0,113.0,1954.0,460.0,887.0,7735.0,303.0,16.0,270.0,92.0
75%,672409.0,8.0,29.0,113.0,1954.0,460.0,887.0,7735.0,303.0,16.0,270.0,92.0
max,672409.0,8.0,29.0,113.0,1954.0,460.0,887.0,7735.0,303.0,16.0,270.0,92.0

In [45]:
df[df.domain == 'collaboration'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.0,3.000000,3.000000
mean,317983.000000,12.000000,174.333333,261.333333,2633.666667,1271.333333,296.666667,5405.000000,1770.000000,11.0,69.333333,21.000000
std,466983.439684,3.605551,112.384756,100.480512,1453.970541,788.447420,513.841740,3137.488008,1526.755711,1.0,78.232559,33.808283
min,22421.000000,9.000000,105.000000,167.000000,1644.000000,588.000000,0.000000,3086.000000,424.000000,10.0,15.000000,0.000000
25%,48800.500000,10.000000,109.500000,208.500000,1799.000000,840.000000,0.000000,3620.000000,940.500000,10.5,24.500000,1.500000
50%,75180.000000,11.000000,114.000000,250.000000,1954.000000,1092.000000,0.000000,4154.000000,1457.000000,11.0,34.000000,3.000000
75%,465764.000000,13.500000,209.000000,308.500000,3128.500000,1613.000000,445.000000,6564.500000,2443.000000,11.5,96.500000,31.500000
max,856348.000000,16.000000,304.000000,367.000000,4303.000000,2134.000000,890.000000,8975.000000,3429.000000,12.0,159.000000,60.000000

In [46]:
df[df.domain == 'program analysis'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,220377.600000,10.800000,114.533333,228.866667,2832.200000,817.933333,893.933333,16441.600000,1800.066667,30.866667,114.600000,19.266667
std,153865.472079,5.239956,83.952254,225.162121,2366.899756,836.357619,1003.482968,25262.278513,2772.570995,45.383865,86.424864,35.035628
min,31005.000000,5.000000,13.000000,28.000000,1043.000000,98.000000,0.000000,1092.000000,10.000000,1.000000,5.000000,0.000000
25%,123988.000000,7.500000,68.500000,73.500000,1251.000000,273.000000,71.000000,4068.500000,379.500000,7.500000,36.000000,0.000000
50%,160552.000000,10.000000,100.000000,125.000000,1812.000000,591.000000,887.000000,6211.000000,554.000000,18.000000,84.000000,1.000000
75%,319696.500000,13.500000,129.500000,296.500000,3366.000000,1101.500000,1388.500000,16233.500000,1718.500000,30.500000,169.000000,21.000000
max,552999.000000,24.000000,340.000000,852.000000,9490.000000,3237.000000,3790.000000,102704.000000,9479.000000,182.000000,261.000000,132.000000

In [47]:
df[df.domain == 'network'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,66147.333333,7.000000,101.222222,344.444444,5503.555556,1296.555556,882.111111,4941.666667,655.444444,55.333333,132.888889,23.888889
std,102696.975522,4.886957,104.108855,479.246617,10310.453611,2042.599302,961.709745,5103.174687,678.669565,174.258091,122.624673,31.171044
min,2389.000000,2.000000,11.000000,62.000000,1026.000000,160.000000,0.000000,1082.000000,14.000000,1.000000,5.000000,0.000000
25%,16173.500000,3.250000,48.000000,111.750000,1221.500000,392.250000,95.250000,1762.250000,222.750000,2.000000,51.250000,0.000000
50%,27318.500000,6.000000,64.000000,195.500000,1800.000000,551.000000,519.500000,2828.500000,442.500000,6.000000,82.000000,2.000000
75%,50270.250000,8.750000,125.500000,265.250000,2998.250000,909.500000,987.000000,4024.250000,749.250000,27.000000,167.500000,47.750000
max,405258.000000,20.000000,460.000000,1665.000000,33981.000000,7408.000000,2764.000000,17141.000000,2550.000000,749.000000,401.000000,95.000000

In [48]:
df[df.domain == 'machine learning'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,1.200000e+01,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,3.992054e+05,9.416667,67.916667,215.750000,2600.666667,868.333333,301.166667,4318.000000,730.750000,150.416667,199.000000,10.166667
std,4.619416e+05,3.941812,58.858008,137.491239,1499.007510,491.368096,235.426821,6661.675792,1099.576375,390.258762,607.613364,18.170072
min,6.716000e+03,2.000000,12.000000,45.000000,1015.000000,230.000000,0.000000,1032.000000,54.000000,1.000000,0.000000,0.000000
25%,5.970750e+04,7.750000,36.500000,78.750000,1470.500000,332.500000,109.000000,1965.500000,171.500000,5.750000,10.750000,0.000000
50%,2.073795e+05,8.000000,42.500000,227.000000,1707.000000,912.500000,339.500000,2303.000000,379.500000,22.000000,20.000000,1.500000
75%,5.636570e+05,12.000000,77.250000,320.500000,4265.250000,1170.000000,425.750000,3514.750000,541.750000,62.750000,35.250000,13.500000
max,1.352329e+06,17.000000,210.000000,404.000000,4842.000000,1587.000000,782.000000,25259.000000,3830.000000,1379.000000,2127.000000,64.000000

In [49]:
df[df.domain == 'cryptocurrency'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,2.000000,2.000000,2.00000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,140419.000000,4.500000,114.50000,301.500000,2336.50000,1114.000000,1127.000000,6425.500000,708.500000,12.000000,191.500000,103.500000
std,151258.625777,4.949747,120.91526,68.589358,720.54181,325.269119,975.807358,4239.105153,840.749963,7.071068,167.584307,50.204581
min,33463.000000,1.000000,29.00000,253.000000,1827.00000,884.000000,437.000000,3428.000000,114.000000,7.000000,73.000000,68.000000
25%,86941.000000,2.750000,71.75000,277.250000,2081.75000,999.000000,782.000000,4926.750000,411.250000,9.500000,132.250000,85.750000
50%,140419.000000,4.500000,114.50000,301.500000,2336.50000,1114.000000,1127.000000,6425.500000,708.500000,12.000000,191.500000,103.500000
75%,193897.000000,6.250000,157.25000,325.750000,2591.25000,1229.000000,1472.000000,7924.250000,1005.750000,14.500000,250.750000,121.250000
max,247375.000000,8.000000,200.00000,350.000000,2846.00000,1344.000000,1817.000000,9423.000000,1303.000000,17.000000,310.000000,139.000000

In [50]:
df[df.domain == 'automation'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,166550.888889,8.444444,178.333333,261.000000,2810.555556,1418.111111,1649.666667,5809.888889,2123.666667,37.444444,97.222222,36.111111
std,139519.664827,2.743680,148.891739,175.745555,1772.915192,1373.211969,1278.548982,3537.373229,1395.089424,35.362802,80.465486,42.753492
min,6063.000000,5.000000,54.000000,96.000000,1164.000000,164.000000,0.000000,1409.000000,480.000000,1.000000,24.000000,0.000000
25%,69860.000000,6.000000,75.000000,127.000000,1318.000000,477.000000,390.000000,2646.000000,785.000000,10.000000,44.000000,5.000000
50%,95935.000000,8.000000,136.000000,209.000000,1816.000000,1114.000000,1456.000000,4006.000000,1905.000000,22.000000,52.000000,23.000000
75%,290808.000000,10.000000,171.000000,354.000000,4035.000000,1818.000000,2758.000000,9633.000000,3131.000000,74.000000,124.000000,51.000000
max,359701.000000,14.000000,456.000000,623.000000,5618.000000,4634.000000,3637.000000,9815.000000,4028.000000,89.000000,263.000000,124.000000

In [51]:
df[df.domain == 'hpc'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,105714.866667,10.733333,255.333333,342.333333,2551.666667,1240.066667,614.933333,8005.666667,2634.133333,93.600000,74.600000,8.066667
std,142524.361579,6.922702,315.359130,363.546355,2340.837355,1617.903956,1013.098392,10545.609524,3134.687678,186.491976,91.044573,12.919900
min,7311.000000,2.000000,12.000000,73.000000,1009.000000,170.000000,0.000000,1103.000000,26.000000,1.000000,2.000000,0.000000
25%,15972.500000,5.500000,77.500000,109.000000,1280.500000,395.500000,102.500000,1733.500000,739.500000,9.500000,24.000000,0.000000
50%,30437.000000,11.000000,146.000000,165.000000,1560.000000,492.000000,250.000000,2398.000000,1573.000000,24.000000,47.000000,1.000000
75%,143227.500000,15.500000,273.500000,422.000000,2627.000000,993.000000,834.000000,8191.500000,3121.500000,58.000000,67.000000,8.500000
max,479302.000000,23.000000,1000.000000,1250.000000,9462.000000,5895.000000,4038.000000,30204.000000,10142.000000,715.000000,316.000000,39.000000

In [52]:
df[df.domain == 'erp'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,2.000000,2.00000,2.000000,2.000000,2.00000,2.000000,2.0,2.000000,2.000000,2.000000,2.00000,2.0
mean,171580.500000,8.50000,129.500000,219.000000,1861.50000,1131.500000,0.0,9537.000000,1524.000000,28.500000,151.50000,0.0
std,11574.630901,2.12132,36.062446,73.539105,760.13979,768.625071,0.0,3758.979649,1400.071427,4.949747,2.12132,0.0
min,163396.000000,7.00000,104.000000,167.000000,1324.00000,588.000000,0.0,6879.000000,534.000000,25.000000,150.00000,0.0
25%,167488.250000,7.75000,116.750000,193.000000,1592.75000,859.750000,0.0,8208.000000,1029.000000,26.750000,150.75000,0.0
50%,171580.500000,8.50000,129.500000,219.000000,1861.50000,1131.500000,0.0,9537.000000,1524.000000,28.500000,151.50000,0.0
75%,175672.750000,9.25000,142.250000,245.000000,2130.25000,1403.250000,0.0,10866.000000,2019.000000,30.250000,152.25000,0.0
max,179765.000000,10.00000,155.000000,271.000000,2399.00000,1675.000000,0.0,12195.000000,2514.000000,32.000000,153.00000,0.0

In [53]:
df[df.domain == 'gestão pessoal'].describe()

,diskUsage,languages,contributors,watchers,stargazers,forks,issues,commits,pullRequests,branches,tags,releases
count,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.00000,2.00000
mean,28685.000000,3.50000,82.500000,139.000000,3270.500000,543.500000,290.500000,2898.000000,301.000000,5.000000,59.00000,59.00000
std,3286.632319,2.12132,82.731493,65.053824,2844.690581,542.350901,328.804653,1685.742566,333.754401,5.656854,39.59798,39.59798
min,26361.000000,2.00000,24.000000,93.000000,1259.000000,160.000000,58.000000,1706.000000,65.000000,1.000000,31.00000,31.00000
25%,27523.000000,2.75000,53.250000,116.000000,2264.750000,351.750000,174.250000,2302.000000,183.000000,3.000000,45.00000,45.00000
50%,28685.000000,3.50000,82.500000,139.000000,3270.500000,543.500000,290.500000,2898.000000,301.000000,5.000000,59.00000,59.00000
75%,29847.000000,4.25000,111.750000,162.000000,4276.250000,735.250000,406.750000,3494.000000,419.000000,7.000000,73.00000,73.00000
max,31009.000000,5.00000,141.000000,185.000000,5282.000000,927.000000,523.000000,4090.000000,537.000000,9.000000,87.00000,87.00000