In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
import pandas as pd
from util import ANNOTATED_FILE_JAVA_COMPLET, COUNT_FILE_SQL

# Ler os dois arquivos .xlsx
df = pd.read_excel(ANNOTATED_FILE_JAVA_COMPLET, keep_default_na=False, sheet_name='2021')
df1 = df[df['discardReason'] == ''] #filtra os projetos sem discardReason
#df1 = pd.read_excel('arquivo2.xlsx')  # DataFrame 2

df2 = pd.read_excel(COUNT_FILE_SQL, engine = 'openpyxl')

# Verificar quais itens da coluna 'name' em df1 estão presentes na coluna 'projects' de df2
itens_presentes = df2['name'].isin(df1['name'])

# Exibir o resultado: True para os itens que estão presentes, False para os que estão faltando
#print(itens_presentes)

# Filtrar os itens que estão presentes
nomes_presentes = df2[itens_presentes]
#print("Itens presentes em ambas as colunas:")
#print(nomes_presentes)

# Filtrar os itens que estão faltando
nomes_faltando = df2[~itens_presentes]
#print("\nItens da coluna 'name' que estão faltando em 'projects':")
#print(nomes_faltando)

# Converter as colunas para sets
names_set = set(df1['name'])
projects_set = set(df2['name'])

# Verificar se os conjuntos são iguais
if names_set == projects_set:
    print("Os itens nas colunas 'name' e 'projects' são os mesmos (em termos de valores).")
else:
    print("As colunas 'name' e 'projects' têm valores diferentes.")
    
# Itens presentes em 'name' mas não em 'projects'
names_faltando = names_set - projects_set
print("\nItens presentes em 'name' mas não em 'projects':", names_faltando)

# Itens presentes em 'projects' mas não em 'name'
projects_faltando = projects_set - names_set
print("Itens presentes em 'projects' mas não em 'name':", projects_faltando)

if len(df1['name']) == len(df2['name']):
    print("\nAs quantidades de itens nas colunas 'name' e 'projects' são iguais.")
else:
    print("\nAs quantidades de itens nas colunas 'name' e 'projects' são diferentes.")

duplicados_projects = df2['name'].duplicated(keep=False)

# Filtrar os projetos duplicados
projetos_duplicados = df2.loc[duplicados_projects, 'name'].unique()

if len(projetos_duplicados) > 0:
    print(f"\nProjetos duplicados: {', '.join(projetos_duplicados)}")
else:
    print("\nNão existem itens duplicados na coluna 'projects'.")

Os itens nas colunas 'name' e 'projects' são os mesmos (em termos de valores).

Itens presentes em 'name' mas não em 'projects': set()
Itens presentes em 'projects' mas não em 'name': set()

As quantidades de itens nas colunas 'name' e 'projects' são iguais.

Projetos duplicados: android

In [17]:
from util import COUNT_FILE_SQL
#reads projects from Excel file
df = pd.read_excel(COUNT_FILE_SQL, keep_default_na=False)
df = df.rename(columns={"(IgnoreCase, SQL)": "SQL"})
df = df.replace(r'^\s*$', np.nan, regex=True)
df

,owner,name,domain,sha1,part_commit,date_commit,isLast,Builder,jooq,checkafter,SQL,spring,jdbc,mybatis
0,Activiti,Activiti,Enterprise Resource Planning,18facf90f45c567b3c9040bd83cca7e1c586387f,NaN,2024-10-11 20:12:54+00:00,True,2,0,0,269,2,0,0
1,airbnb,lottie-android,Game,e320c993c4ee501b488dadb0a6bfe64f91ce7404,NaN,2024-10-04 18:54:43+00:00,True,0,0,0,1,0,0,0
2,alibaba,spring-cloud-alibaba,Software Development,fadd6ba4228063ba8a2b25509d85d27d78359b5a,NaN,2024-09-27 12:04:25+00:00,True,7,0,0,12,7,0,0
3,alibaba,nacos,Infrastructure Management,b97116458c756ab35c1aa5e7e45ae77c8ecca356,NaN,2024-10-15 02:13:03+00:00,True,35,0,0,84,35,0,0
4,alibaba,fastjson,Data Management,c942c83443117b73af5ad278cc780270998ba3e1,NaN,2023-05-12 06:16:03+00:00,True,11,0,11,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,yacy,yacy_search_server,Infrastructure Management,a8c64b1af2c7842063a352c5c9f237b82c0796a5,NaN,2024-09-21 19:56:12+00:00,True,0,0,0,52,0,0,0
358,zaproxy,zaproxy,Security,7da62c3f09cac65f99c75624b5937893c25c4a03,NaN,2024-10-14 08:12:11+00:00,True,0,0,0,43,0,0,0
359,zendesk,maxwell,Data Management,d49890270be3ca2cc0af176f8406da61ecc2db13,NaN,2024-09-25 20:18:45+00:00,True,0,0,0,34,0,0,0
360,zxing,zxing,Software Development,9598db91c753293e61d13f6405a4b9e8dfcf6843,NaN,2024-10-11 19:10:45+00:00,True,0,0,0,6,0,0,0
361,liferay,liferay-portal,Enterprise Resource Planning,38220df7f113ab58af84b3297d81db6bb40d3320,NaN,2024-10-12 00:30:11+00:00,True,9,0,9,1725,0,0,0

In [18]:
df = df.replace(0, np.nan)
df

,owner,name,domain,sha1,part_commit,date_commit,isLast,Builder,jooq,checkafter,SQL,spring,jdbc,mybatis
0,Activiti,Activiti,Enterprise Resource Planning,18facf90f45c567b3c9040bd83cca7e1c586387f,NaN,2024-10-11 20:12:54+00:00,True,2.0,NaN,NaN,269.0,2.0,NaN,NaN
1,airbnb,lottie-android,Game,e320c993c4ee501b488dadb0a6bfe64f91ce7404,NaN,2024-10-04 18:54:43+00:00,True,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,alibaba,spring-cloud-alibaba,Software Development,fadd6ba4228063ba8a2b25509d85d27d78359b5a,NaN,2024-09-27 12:04:25+00:00,True,7.0,NaN,NaN,12.0,7.0,NaN,NaN
3,alibaba,nacos,Infrastructure Management,b97116458c756ab35c1aa5e7e45ae77c8ecca356,NaN,2024-10-15 02:13:03+00:00,True,35.0,NaN,NaN,84.0,35.0,NaN,NaN
4,alibaba,fastjson,Data Management,c942c83443117b73af5ad278cc780270998ba3e1,NaN,2023-05-12 06:16:03+00:00,True,11.0,NaN,11.0,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,yacy,yacy_search_server,Infrastructure Management,a8c64b1af2c7842063a352c5c9f237b82c0796a5,NaN,2024-09-21 19:56:12+00:00,True,NaN,NaN,NaN,52.0,NaN,NaN,NaN
358,zaproxy,zaproxy,Security,7da62c3f09cac65f99c75624b5937893c25c4a03,NaN,2024-10-14 08:12:11+00:00,True,NaN,NaN,NaN,43.0,NaN,NaN,NaN
359,zendesk,maxwell,Data Management,d49890270be3ca2cc0af176f8406da61ecc2db13,NaN,2024-09-25 20:18:45+00:00,True,NaN,NaN,NaN,34.0,NaN,NaN,NaN
360,zxing,zxing,Software Development,9598db91c753293e61d13f6405a4b9e8dfcf6843,NaN,2024-10-11 19:10:45+00:00,True,NaN,NaN,NaN,6.0,NaN,NaN,NaN
361,liferay,liferay-portal,Enterprise Resource Planning,38220df7f113ab58af84b3297d81db6bb40d3320,NaN,2024-10-12 00:30:11+00:00,True,9.0,NaN,9.0,1725.0,NaN,NaN,NaN

In [19]:
min_bulder = df['Builder'].min()
max_bulder = df['Builder'].max()
avg_builder = df['Builder'].mean()
std_builder = df['Builder'].std()

print("Builder:")
print("Min:", min_bulder)
print("Max:", max_bulder)
print("AVG:", avg_builder)
print("STD:", std_builder)

mim_SQL = df['SQL'].min()
max_SQL = df['SQL'].max()
avg_SQL = df['SQL'].mean()
std_SQL = df['SQL'].std()

#print(minMax_SQL)
print("SQL:")
print("Min:", mim_SQL)
print("Max:", max_SQL)
print("AVG:", avg_SQL)
print("STD:", std_SQL)

Builder:
Min: 1.0
Max: 389.0
AVG: 51.492063492063494
STD: 93.42305321214766
SQL:
Min: 1.0
Max: 8269.0
AVG: 123.19811320754717
STD: 653.9081696853824

In [13]:
from util import COUNT_FILE_IMP
#reads projects from Excel file
df = pd.read_excel(COUNT_FILE_IMP, keep_default_na=False)
df = df.replace(r'^\s*$', np.nan, regex=True)
df

,owner,name,domain,sha1,part_commit,date_commit,isLast,Number total of files,jOOQ,JDBC,Spring,Hibernate,JPA,EclipseLink,mybatis
0,Activiti,Activiti,Enterprise Resource Planning,18facf90f45c567b3c9040bd83cca7e1c586387f,NaN,2024-10-11 20:12:54+00:00,True,5151,0,0,60,2,63,0,50
1,airbnb,lottie-android,Game,e320c993c4ee501b488dadb0a6bfe64f91ce7404,NaN,2024-10-04 18:54:43+00:00,True,1273,0,0,0,0,0,0,0
2,alibaba,spring-cloud-alibaba,Software Development,fadd6ba4228063ba8a2b25509d85d27d78359b5a,NaN,2024-09-27 12:04:25+00:00,True,841,0,0,0,1,0,0,8
3,alibaba,nacos,Infrastructure Management,b97116458c756ab35c1aa5e7e45ae77c8ecca356,NaN,2024-10-15 02:13:03+00:00,True,2955,0,0,2,0,0,0,14
4,alibaba,fastjson,Data Management,c942c83443117b73af5ad278cc780270998ba3e1,NaN,2023-05-12 06:16:03+00:00,True,3249,0,0,11,2,13,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,yacy,yacy_search_server,Infrastructure Management,a8c64b1af2c7842063a352c5c9f237b82c0796a5,NaN,2024-09-21 19:56:12+00:00,True,1888,0,0,0,0,0,0,46
358,zaproxy,zaproxy,Security,7da62c3f09cac65f99c75624b5937893c25c4a03,NaN,2024-10-14 08:12:11+00:00,True,2269,0,0,0,0,0,0,2
359,zendesk,maxwell,Data Management,d49890270be3ca2cc0af176f8406da61ecc2db13,NaN,2024-09-25 20:18:45+00:00,True,490,0,0,0,0,0,0,0
360,zxing,zxing,Software Development,9598db91c753293e61d13f6405a4b9e8dfcf6843,NaN,2024-10-11 19:10:45+00:00,True,3768,0,0,0,0,0,0,5
361,liferay,liferay-portal,Enterprise Resource Planning,38220df7f113ab58af84b3297d81db6bb40d3320,NaN,2024-10-12 00:30:11+00:00,True,109041,0,0,32,215,155,1,1332

In [14]:
avg_mybatis = df['mybatis'].mean()
avg_jOOQ = df['jOOQ'].mean()
avg_Spring = df['Spring'].mean()
avg_JPA = df['JPA'].mean()
avg_JDBC = df['JDBC'].mean()
avg_Hibernate = df['Hibernate'].mean()
avg_EclipseLink = df['EclipseLink'].mean() 
#avg_df = df.avg()

# print("AVG:", avg_mybatis)
# print("AVG:", avg_jOOQ)
# print("AVG:", avg_Spring)
# print("AVG:", avg_JDBC)
# print("AVG:", avg_Hibernate)
# print("AVG:", avg_EclipseLink)

columns_to_drop = ['sha1', 'part_commit', 'date_commit', 'isLast', 'owner']
df_filter = df.drop(columns=columns_to_drop, axis=1)
df_filter

avg_df = df_filter.mean()
print("Mean:")
print(avg_df)

avg_total = (avg_mybatis + avg_jOOQ + avg_Spring + avg_JDBC + avg_Hibernate + avg_EclipseLink)/6
print(avg_total)

#validar com o Léo e a Vanessa se este calculo precisa incluir todos os projetos ou não. Aqui ele calcula sobre os projetos que tem ORM.

Mean:
Number total of files    5313.919890
jOOQ                        1.082873
JDBC                        0.000000
Spring                     12.356354
Hibernate                   9.546961
JPA                        16.698895
EclipseLink                 0.911602
mybatis                    17.988950
dtype: float64
6.981123388581953

/var/folders/kc/q64njxfx5xj09h4nrxwncwbw0000gn/T/ipykernel_1684/3152353962.py:21: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_df = df_filter.mean()